.accomodationsCard{
    border: 2px solid getColor(black);
    border-radius: 5px;
    margin: auto;
    margin-bottom: 10%;
    width: 90%;
    padding: 1rem;
    .images{
        width: 100%;
    }
    .bookBtn{
        width: 100%;
        padding: 2%;
    }
}
.accomodationsContent {
    text-decoration: none;
    color: getColor(black);
}

@media (min-width: 821px){
    .accomodationsCard{
        margin: 0 0 1rem 0;
        width: 75%;
        .bookBtn{
            width: 50%;
            padding: 1%;
            position: relative;
            left: 50%;
            width: 50%;
            padding: 1%;
            
        }
    }
    .images{
        grid-area: grid1;
    }
    .subTitle {
        grid-area: grid2;
    }
    .location {
        grid-area: grid3;
    }
    .excerpt {
        grid-area: grid4;
    }
    .price{
        grid-area: grid5;
    }

    .accomodationsContent {
        display: grid;
        column-gap: 2rem;
        grid-template-columns: 40% 20% 20% 20%;
        grid-template-rows: 12% 15% 50% 15%;
        grid-template-areas: 
        "grid1 grid2 grid2"
        "grid1 grid3 grid3"
        "grid1 grid4 grid4"
        "grid1 grid5 .";
    }
}