.accomodationsCard{
    border: 2px solid getColor(black);
    border-radius: 5px;
    margin: auto;
    margin-bottom: 10%;
    width: 90%;
    padding: 1rem;
    .images{
        width: 100%;
    }
    .bookBtn{
        width: 100%;
        padding: 2%;
    }
}
.accomodationsContent {
    text-decoration: none;
    color: getColor(black);
}

@media (min-width: 821px){
    .accomodationsCard{
        margin: 0 0 1rem 0;
        width: 75%;
        .bookBtn{
            width: 50%;
            padding: 1%;
            position: relative;
            left: 50%;
            width: 50%;
            padding: 1%;
            
        }
    }
    .accomodationsContent {
        display: flex;
        .images{
            width: 40%;
            margin: 1%;
        }

    }
    .bottomContainer{
        .price{
        position: relative;
        left: 55%;
    }
    }
    
}