.contactForm,
.bookingForm,
.loginForm, .newEstForm {
    margin: auto;
    width: 70%;
    p {
        font-size: 1.3rem;
        margin: 0;
    }
}

.formInput,
.formMessage,
.select{
    border: 1px solid getColor(gray);
    width: 100%;
    border-radius: 5px;
    padding: 2%;
    margin-bottom: 5%;
    &:focus {
        border: 2px solid getColor(primary);
    }
}

.submitBtn,
.loginBtn,
.addBtn {
    border: 2px solid getColor(primary);
    border-radius: 5px;
    padding: 2%;
    width: 100%;
    background: getColor(white);
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 5%;
}
.formMessage{
    box-sizing: border-box;
}

.formError {
    color: getColor(error);
    margin-top: -1%;
    margin-bottom: 1rem;
}

.howMany select, 
.formMessage{
    padding: 1%;
    font-size: 1rem;
}

.bookingForm{
    div{
        margin-bottom: 2%;
    }
    .datePicker input{
        padding: 1%;
        font-size: 1rem;
    }
}

@media (min-width: 821px){
    .formInput, 
    .select{
        width: 100%;
        padding: 5px;
        margin: 0 5rem 1rem 0;
        font-size: 1rem;
    }


    .loginBtn,
    .submitBtn,
    .addBtn {
        grid-area: button;
    }

    .fullname, 
    .hotelName,
    .username{
        grid-area: nameInput;
    }

    .email,
    .location,
    .howMany{
        grid-area: input2;
    }

    .password,
    .subject {
        grid-area: input3; 
    }

    .addImage,
    .checkIn{
        grid-area: input4;
    }
    .addImage,
    .checkIn{
        grid-area: input5;
    }

    .excerpt,
    .checkOut {
        grid-area: input6;
    }
    
    .textarea{
        grid-area: textarea;
    }

    .price{
        grid-area: price;
    }

    .slug{
        grid-area: slug;
    }

    .loginForm,
    .contactForm,
    .bookingForm,
    .newEstForm{
        display: grid;
        grid-template-columns: 30% 30%;
        grid-template-rows: auto;
    }
    
    .contactForm{
        row-gap: 1rem;
        column-gap: 1rem;
        grid-template-areas: 
        "nameInput input2"
        "input3 input3"
        "textarea textarea"
        "button button";
    }
    
    .bookingForm{
        row-gap: 1rem;
        column-gap: 1em;
        grid-template-areas: 
        "nameInput input2"
        "input5 input6"
        "textarea textarea"
        "button button";
    }
    
    .loginForm{
        row-gap: 1rem;
        grid-template-areas: 
        "nameInput nameInput"
        "input3 input3"
        "button button";
    }

    .newEstForm{
        column-gap: 1em;
        row-gap: 1rem;
        grid-template-areas: 
        "nameInput input2"
        "input5 input6"
        "price slug"
        "textarea textarea"
        "button button";
    }
    .submitBtn, .loginBtn, .addBtn{
        padding: 1%;
    }
}