.contactForm,
.bookingForm,
.loginForm, .newEstForm {
    margin: auto;
    width: 70%;
    p {
        font-size: 1.3rem;
        margin: 0;
    }
}

.disableInput:disabled

.formInput,
.formMessage,
.select{
    border: 1px solid getColor(gray);
    width: 100%;
    border-radius: 5px;
    padding: 2%;
    margin-bottom: 5%;
    &:focus {
        border: 2px solid getColor(primary);
    }
}

.submitBtn,
.loginBtn,
.addBtn {
    border: 2px solid getColor(primary);
    border-radius: 5px;
    padding: 2%;
    width: 100%;
    background: getColor(white);
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 5%;
}
.formMessage{
    box-sizing: border-box;
}

.formError {
    color: getColor(error);
    margin-top: -1%;
    margin-bottom: 1rem;
}

.howMany select, 
.formMessage{
    padding: 1%;
    font-size: 1rem;
}

.bookingForm{
    div{
        margin-bottom: 2%;
    }
    .datePicker input{
        padding: 1%;
        font-size: 1rem;
    }
}

@media (min-width: 821px){
    .formInput, 
    .formMessage, 
    .select{
        padding: 5px;
        margin: 0 5rem 1rem 0;
    }
    
    .fullname, 
    .checkIn, 
    .username, 
    .hotelname {
        grid-area: input1;
    }
    
    .email, 
    .checkOut, 
    .password, 
    .location {
        grid-area: input2;
    }
    
    .subject, 
    .howMany, 
    .loginBtn, 
    .addImage {
        grid-area: input3;
    }
    
    .textarea, 
    .excerpt {
        grid-area: input4;
    }
    
    .submitBtn, 
    .slug  {
        grid-area: input5;
    }
    .price {
        grid-area: input6;
    }

    .description{
        grid-area: input7;
    }
    .addBtn{
        grid-area: input8;
    }
    
    .contactForm, 
    .bookingForm,
    .loginForm, 
    .newEstForm {
        display: grid;
        margin: 0 0rem 0 1rem;
        grid-template-columns: 30% 30%;
        grid-template-rows: auto;
        column-gap: 1rem;
    }
    
    .contactForm{
        row-gap: 1rem;
        grid-template-areas: 
        "input1  input2"
        "input3 ."
        "input4  input4"
        "input5 input5";
    }
    
    .bookingForm{
        row-gap: .5rem;
        grid-template-areas: 
        "input1 input2"
        "input3 ."
        "input4 input4"
        "input5 input5";
    }
    
    .loginForm{
        row-gap: 1rem;
        grid-template-areas: 
        "input1 ."
        "input2 ."
        "input3 inpu3";
    }

    .newEstForm{
        // row-gap: .2rem;
        grid-template-areas: 
        "input1 input2"
        "input3 input4"
        "input5 input6"
        "input7 input7"
        "input8 input8";
    }
    .submitBtn, .loginBtn, .addBtn{
        padding: 1%;
    }
}