.bookBtn {
    border: 1px solid getColor(black);
    border-radius: 5px;
    background: getColor(cta-color);
    text-transform: capitalize;
    font-size: .9rem;
    font-weight: 600;
}

.container {
    margin: 0 0 0 1rem;
}
