.bgImage{
display: none;
}
.bgImage2{
    display: none;
}

.images{
    width: 90%;
}

@media (min-width: 821px){
    .bgImage{
        display: block;
        min-height: 100%;
        width: 100%;
        height: auto;
        left: 0;
    }
    .bgImage2{
        display: block;
        width: 5508px;
        height: 3098px;
        background-repeat: no-repeat;
    }
}
