.images{
    width: 90%;
}

.bgImage{
    min-height: 100%;
    // min-width: 1024px;
    width: 100%;
    height: auto;
    // position: fixed;
    // top: 0;
    left: 0;
    // width: 1150px;
    // height: 720px;
    // background-repeat: no-repeat;
}


.bgImage2{
    width: 5508px;
    height: 3098px;
    background-repeat: no-repeat;
}