.contentContainer{
    margin: auto;
    width: 70%;
}

.section{
    margin-top: 25%;
    margin-bottom: 25%;
    .bookBtn{
        width: 100%;
        padding: 2%;
    }
}
.card{
    border: solid 2px getColor(primary);
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 2%;
    font-size: .9rem;
    background: getColor(whiteOpacity);
}

.infocard {
    border: solid 2px getColor(primary);
    border-radius: 5px;
    padding: 3%;
    background: getColor(whiteOpacity);
    font-size: .9rem;
    .subTitle{
        text-align: center;
        font-size: 1.7rem;
    }
}

.infoBtn{
    border: 2px solid getColor(primary);
    border-radius: 5px;
    padding: .8rem;
    font-size: 1rem;
    background: none;
}

@media(min-width: 821px){
    .contentContainer{
        margin: 0;
        width: 100%;
    }
    .cardContainer{
        display: flex;
        .card{
            padding: 1rem;
            margin: 0 1rem 0 1rem;
            border: solid 1px getColor(black);
        }
    }
    .infocard{
        width: 35%;
        margin: 0 0 1rem 0;
        padding: 1rem;
        border: solid 1px getColor(black);
    }
    .infoBtn{
        padding: 5px;
        font-size: .9rem;
    }

    .section {
        z-index: 1000;
        position: sticky;
        top: 15%;
        bottom: 50%;
        margin-left: 2%;
        margin-bottom: 0;
        margin-top: 0;
        .bookBtn{
            width: 35%;
            padding: .6rem;
        }
    }
    .card1 {
        z-index: 1000;
        position: sticky;
        top: 30%;
    }
}