.nav {
    ul {
        margin: 1% 0 1%  0;
        display: flex;
        font-size: 1.3rem;

        a {
            margin: 0 3% 0 0;
            color: getColor(gray);
            text-decoration: none;

            &.active {
                color: getColor(primary);
            }

            &:hover{
                color: getColor(primary);
            }
        }
    }
}

.search {
    position: absolute;
    left: 80%;
    top: 2%;
    font-size: 1rem;
}

.alternativeContainer{
    cursor: pointer;
    z-index: 100;
    position: absolute;
    width: 20%;
    left: 75%;
    top: 55px;
    background: getColor(whiteOpacity);
}

.searchResults {
    font-size: 1.1rem;
    padding: 10px;
    text-decoration: none;
    color: getColor(black);
    
}

.footer {
    flex-shrink: 0;
    padding: .8rem;
    background: getColor(primary);
    color: getColor(white);
    a {
        text-decoration: none;
        color: getColor(white);
    }
   
}
.footerDiv {
    text-align: center;
}