@import "partials/variables";

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0 auto;
  font-family: sans-serif;
  height: 100%;
  background: #FAFAFA;
  font-family: $primary-font;
}

.wrapper {
  flex: 1 0 auto;
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100%;
}