.carouselContainer{
     width: 70%;
     margin: 0;
}

.textContainer{
    width: 60%;
    border: 2px solid getColor(gray);
    border-radius: 5px;
    padding: 1%;
    margin-bottom: 2%;
}

@media(min-width: 821px){
    .carouselContainer{
        width: 60%;
        border: none;
    }
}

