.bgImage{
display: none;
}
.bgImage2{
    display: none;
}

.images{
    width: 90%;
}

@media(min-width: 821px){
    .bgImage{
        display: block;
        min-height: 100%;
        width: 100%;
        height: auto
    }
}

@media (min-width: 1021px){
    .bgImage{
        display: block;
        min-height: 100%;
        width: 100%;
        height: auto;
    }
    .bgImage2{
        display: block;
        min-height: 100%;
        width: 100%;
        height: auto;
    }
}
