@import "partials/variables";

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0 auto;
  font-family: sans-serif;
  height: 100%;
  font-family: $primary-font;
}

.wrapper {
  flex: 1 0 auto;
  background: getColor(primaryOpacity);


}

#__next {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media (min-width: 821px){
.wrapper{
    background: getColor(lightgray)
  }
}